* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d6dfe0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 2px solid goldenrod;
}

.data-area {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.headline {
  margin-bottom: 30px;
}

.info-p {
  margin-bottom: 25px;
}

#email-area {
  width: 450px;
  padding: 12px;
  border: 1px solid black;
}

.submit-btn {
  border: 1px solid black;
  color: black;
  background-color: bisque;
  padding: 12px;
  cursor: pointer;
  margin-left: 10px;
}

.submit-btn:hover {
  background-color: rgb(234, 203, 165);
}

.masked-result {
  margin-top: 30px;
}


@media (max-width: 810px) {
  .container {
    margin: 1px 20px;
  }
}

@media (max-width: 645px) {
  .container {
    text-align: center;
  }
}

@media (max-width: 580px) {
  .container {
    min-width: 80vw;
  }
  .data-area {
    flex-direction: column;
    align-items: center;
  }

  .submit-btn {
    margin-top: 20px;
  }
}

@media (max-width: 524px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    min-width: 80vw;
    margin: 20px;
  }

  #email-area {
    width: 40%;
  }
  .submit-btn {
    margin-top: 20px;
  }

}